body, p {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  -webkit-font-rendering: optimzelegitibility;
}
label, input, select, textarea { font-family: 'Open Sans', Arial, Helvetica, sans-serif }

body {
  background: #fefefe;
}

.navbar {
  padding-top: 10px;
}

.testimonial-list {
  list-style: none;
}

.profile .name {
  position: relative;
  width: 100%;
  opacity: 0;
  transition: opacity 100ms linear;
  background: #ccc;
  background: rgba(0, 0, 0, 0.15);
  color: #fff;
  font-size: 2em;
  text-align: center;
  bottom: 1.25em;
  line-height: 1.25em;
  text-decoration: none;
  display: block;
}
.profile:hover .name {
    opacity: 1;
}

::selection {
  background: #ccc;
  background: rgba(0, 0, 0, 0.05);
}
::-moz-selection {
  background: #ccc;
  background: rgba(0, 0, 0, 0.05);
}
::-webkit-selection {
  background: #ccc;
  background: rgba(0, 0, 0, 0.05);
}